.button {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 8px 20px;    
    border: 1px solid #888888;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    background: transparent;
    cursor: pointer;    
}

.button_actived {
    border: 2px solid #F36223;
}

.button:active {
    border: 2px solid #A93A09;    
}

.button:hover {
    background: #F2F2F2;
}

@media (min-width: 360px) and (max-width: 1023px) {
    .button {
        padding: 9px 20px;
    }
}