.header {
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    align-items: center;
    position: fixed;
    width: 1383px;
}

.logo {
    width: 36.11px;
    height: 41px;
}

.header-block {
    display: flex;
    align-items: center;
    gap: 4px;
    height: 80px;
}

.header-title {
    display: inline-block;
    font-weight: 700;
    font-size: 44px;
    margin-bottom: 18px;
}

.header-title__orange {
    color: #FF5722;
}

.header-title__black {
    color: #000000;
}

.header-icon {
    display: flex;
    height: 100%;
    max-width: 100px;
    position: relative;
    gap: 10px;
}

.header-icon__btn {
    background-image: url("/public/basket-head.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    border: none;
    background-color: #F8F8F8;
    cursor: pointer;
    position: relative;
    top: 5px;
    left: 15px;
}

.header-icon__heart {
    background-image: url("/public/heart-head.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    border: none;
    background-color: #F8F8F8;
    cursor: pointer;
    position: relative;
    left: 489px;
    top: 5px;
}


.basket {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3px 5px;
    width: 10px;
    height: 13px;
    background: #F36223;
    border-radius: 50px;
    position: absolute;
    top: 5px;
    left: 47px;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}

.heart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3px 5px;
    width: 10px;
    height: 13px;
    background: #F36223;
    border-radius: 50px;
    position: absolute;
    top: 5px;
    left: 520px;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}

.hidden {
    display: none;
}

@media (min-width: 1024px) and (max-width: 1499px) {
    .header {
        padding: 0px 15px;
        width: 994px;
    }

    .header-icon__btn {
        left: 0px;
    }

    .basket {
        left: 32px;
    }

    .header-icon__heart {
        left: 284px;
    }

    .heart {
        left: 315px;
    }
}

@media (min-width: 360px) and (max-width: 1023px) {
    .header {
        padding: 0px 10px;
        width: 340px;
    }

    .header-title {
        font-size: 29px;
        margin-bottom: 11px;
    }

    .header-block {
        height: 55px;
    }

    .logo {
        width: 26.76px;
        height: 36px;
    }

    .header-icon__btn {
        background-image: url("/public/basket-head1.svg");
        top: 3px;
        left: 11px;
    }

    .header-icon__heart {
        background-image: url("/public/heart-head1.svg");
        left: 44px;
        top: 3px;
    }

    .heart {
        width: 0px;
        height: 4px;
        top: 13px;
        left: 74px;
        font-size: 7px;
        line-height: 7px;
    }

    .basket {
        width: 0px;
        height: 4px;
        top: 13px;
        left: 40px;
        font-size: 7px;
        line-height: 7px;
    }

}